.sign-page, .forgot-page {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-in {
    padding: 50px 60px;
    background: #3A3A3A;
    border-radius: 20px;
    width: 100%;

    > h3 {
        font-family: 'JetBrains Mono';
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #FF9700;
        margin-bottom: 21px;
    }

    &__form {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        &-item {
            max-width: 334px;
            width: 100%;
        }

        &-submit {
            position: relative;
            height: 30px;
            
            button {
                font-family: 'JetBrains Mono';
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                letter-spacing: 0.05em;
                color: #5B5B5B;
                cursor: pointer;
            }

            a {
                font-family: 'JetBrains Mono';
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #9E9E9E;

                position: absolute;
                bottom: -40px;
                left: 50%;
                min-width: 120px;
                transform: translateX(-50%);
            }
        }

        p {
            font-family: 'JetBrains Mono';
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: #D9D9D9;
        }

        input {
            background: transparent;
            border: 1px solid #9E9E9E;
            border-radius: 10px;
            width: 100%;
            height: 44px;
            padding-left: 30px;


            font-family: 'JetBrains Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #fff;

            &::placeholder {
                color: #9E9E9E;
            }
        }

        button {
            width: 214px;
            height: 44px;
            background: rgba(19, 24, 30, 0.4);
            border: 1px solid #5B5B5B;
            border-radius: 30px;
        }
    }
}
.sign-in__btn-active {
    background: #FF9700 !important;
    color: #fff !important;
}






.forgot {
    padding: 50px 60px;
    background: #3A3A3A;
    border-radius: 20px;
    width: 100%;

    >h3 {
        font-family: 'JetBrains Mono';
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #FF9700;
        margin-bottom: 60px;
    }

    &-wrapper {
        display: flex;
        gap: 40px;
        align-items: end;
    }

    &-text {
        font-family: 'JetBrains Mono';
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        max-width: 354px;
    }

    &-btn {
        button {
            width: 214px;
            height: 44px;
            background: rgba(19, 24, 30, 0.4);
            border: 1px solid #5B5B5B;
            border-radius: 30px;

            font-family: 'JetBrains Mono';
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: #5B5B5B;
            cursor: pointer;
        }
    }

    &-input {
        max-width: 354px;
        width: 100%;
        p {
            font-family: 'JetBrains Mono';
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: #D9D9D9;
        }

        input {
            background: transparent;
            border: 1px solid #9E9E9E;
            border-radius: 10px;
            width: 100%;
            height: 44px;
            padding-left: 30px;


            font-family: 'JetBrains Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #fff;

            &::placeholder {
                color: #9E9E9E;
            }
        }
    }
}




.sign-up {
    padding: 50px 60px;
    background: #3A3A3A;
    border-radius: 20px;
    max-width: 600px;
    margin: auto;

    > h3 {
        font-family: 'JetBrains Mono';
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #FF9700;
        margin-bottom: 21px;
    }

    &__image-prev {
        width: 120px;
        height: 120px;
        display: block;
        border-radius: 50%;
        margin: auto;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    &__form {
        display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    &__item {
        width: 100%;
        margin-bottom: 50px;

        p {
            font-family: 'JetBrains Mono';
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: #D9D9D9;
        }

        input {
            background: #3A3A3A;
            border: 1px solid #9E9E9E;
            border-radius: 10px;
            height: 44px;
            width: 100%;
            padding-left: 20px;

            font-family: 'JetBrains Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #fff;

            &::placeholder {
                color: #9E9E9E;
            }
        }

        button {
            background: rgba(19, 24, 30, 0.4);
            border: 1px solid #5B5B5B;
            border-radius: 30px;
            height: 44px;
            width: 70%;

            font-family: 'JetBrains Mono';
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: #5B5B5B;
        }
    }
}